*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  text-align: center;
  padding: 20px;
  background-color: hsl(279.07deg 24.02% 35.1%);
  width: 100vw;
  height: 100vh;
}

.app_title{
  color: #fff;
}

.task-list {
  padding: 1rem;
  margin: 1rem  10px;
  width: 300px;
  display: inline-block;
  vertical-align: top;
  background-color: #0f1204;
  border-radius: 10px;
  height: calc(100vh - 150px);
}

.task-cards{
  overflow-y: scroll;
  height: 90%;
}

.task-card {
  padding: 10px;
  margin: 10px 0;
  background-color: #27282d;
  border-radius: 5px;
  color: #fff;
}

.task-cards {
  margin-top: 10px;
}

button {
  margin-top: 5px;
}

.task_list_title{
  color: #fff;
  font-size: 1.5rem;
}

.delete_button{
  background-color: #a6180d;
  color: #ccc;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 10px;
}

.add_button{
  background-color: #D9EEE1 !important;
  color:  #000 !important;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.update_button{
    background-color: #04AA6D !important;
    color:  #fff !important;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.modal{
  display: none;
  position: fixed; /* Stay in place */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  z-index: 99999;
}

.modal_add_open{
  display: block;
}

.modal_content{
  width: 275px;
  background-color: #fff;
  border-radius: 10px;
  padding: 1.5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.input_text{
  padding: 0.5rem;
  border-radius: 5px;
  margin: 0.2rem 0 1rem 0;
}

.title_text{
  text-align: left;
}

.input_title_container, .input_select_container{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.selector_status{
  padding: 0.5rem;
  text-align: start;
  margin: 0.2rem 0 1rem;
  outline: none;
}